<div class="container">
  <h3>Book Details</h3>
  <p>Book Title: <%= @book.Title %> </p>
  <p>Book ID: <%= @book.Book_id %> </p>
  <p>Book Price: <%= @book.Price %> </p>
  <p>Book Publisher: <%= @book.Publisher %> </p>
  <p>Book Description: <%= @book.Description %> </p>
</div>