<div class="container">
	<h2>Add New Novel</h2>

	<%= form_for :novel, url: novels_path do |f| %>
		<div class="form-group">
			<%= f.label :Title %><br />
			<%= f.text_field :Title, class:'form-control' %><br />
		</div>

		<div class="form-group">
			<%= f.label :ISBN %><br />
			<%= f.text_field :isbn, class:'form-control' %><br />
		</div>

		<div class="form-group">
			<%= f.label :Format %><br />
			<%= f.text_field :Format, class:'form-control' %><br />
		</div>

		<div class="form-group">
			<%= f.label :Genre %><br />
			<%= f.select :Genre_id, Genre.all.collect {|x| [x.Name,
			x.id]}, {:include_blank => 'Select Genre'},class:'form-control'
			%><br /><br />
		</div>

		<div class="form-group">
			<%= f.label :Publisher %><br />
			<%= f.select :Publisher_id, Publisher.all.collect {|x| [x.Name,
			x.id]}, {:include_blank => 'Select Publisher'},class:'form-control'
			%><br /><br />
		</div>

		<div class="form-group">
			<%= f.label :Author %><br />
			<%= f.select :Author_id, Author.all.collect {|x| [x.Fname,
			x.Lname, x.id]}, {:include_blank => 'Select
			Author'},class:'form-control' %><br /><br />
		</div>

		<div class="form-group">
			<%= f.label :Price %><br />
			<%= f.number_field :Price, class:'form-control' %><br />
		</div>

		<div class="form-group">
			<%= f.label :Pages %><br />
			<%= f.number_field :Pages, class:'form-control' %><br />
		</div>

		<div class="form-group">
			<%= f.label :Publication %><br />
			<%= f.text_field :Publication, class:'form-control' %><br />
		</div>

		<div class="form-group">
			<%= f.label :Description %><br />
			<%= f.text_area :Description, class:'form-control' %><br />
		</div>

		<div class="form-group">
			<%= f.submit "Submit", class:'btn btn-primary' %>
		</div>

		<div class="form-group">
			<%=link_to "Cancel", novels_index_path, class:'btn btn-default' %>
		</div>
	<% end %>
</div>