<div class="container">

	<%= form_tag search_authors_path, method: :get do %>
		<%= text_field_tag :term, nil, placeholder: 'Search',
		class:'form-control' %>
		<%= submit_tag "Search", class:'btn btn-default' %>
 	<% end %>

	<h2>Authors List</h2>
	<table border="1" class="table">
		<tr>
			<th>First Name<hd>
			<th>Last Name</th>
			<th>Bio</th>
			<th>View Details</th>
		</tr>
		<% @authors.each do |author| %>
			<tr>
				<td> <%= author.Fname %> </td>
				<td> <%= author.Lname %> </td>
				<td> <%= author.Bio %> </td>
				<td> <%= link_to 'Author Page', author_path(author) %> </td>
			</tr>
		<% end %>
	</table>
</div>