<div class="container">
  <h3>Novel Details</h3>
	<p>Title: <%= @novel.Title %> </p>
	<p>Author ID: <%= @novel.Author_id %> </p>
	<p>Publisher ID: <%= @novel.Publisher_id %> </p>
	<p>Genre ID: <%= @novel.Genre_id %> </p>
	<p>Price: <%= @novel.Price %> </p>
	<p>ISBN: <%= @novel.isbn %> </p>
	<p>Publication: <%= @novel.Publication %> </p>
	<p>Pages: <%= @novel.Pages %> </p>
	<p>Format: <%= @novel.Format %> </p>
	<p>Description: <%= @novel.Description %> </p>
</div>